.posicionamento_page{
    margin-top: 80px;
    width: 100%;
    height: 785px;
}

.img_1{
    width: 45%;
}

.posicionamento_direita{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo_senai{
    width: 40%;
    height: 75px;
    margin-bottom: 40px;
}

.fundo_formulario{
    background-color: #FF0000;
    border-radius: 20px;
    width: 700px;
    height: 585px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:  0 0 1em rgba(0, 0, 0, 0.452);
}

.titulo_form{
    font-family: 'Bebas Neue';
    font-size: 50px;
    color: white;
    margin-top: 65px;
}

#input_um{
    margin-top: 15px;
}

#input_dois{
    margin-top: 15px;
}

.form_login{
    /* background-color: aqua; */
    width: 100%;
    margin: auto 0;
}

.input_login{
    /* background-color: blue; */
    width: 100%;
    display: flex;
    margin-left: 55px;
    margin-bottom: 27px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    flex-direction: column;
    text-transform: uppercase;
    
}

.inputs_form{
    width: 80%;
    height: 49px;
	padding: 10px;
	border: none;
	margin-bottom: 12px;
	border-radius: 12px;
    background-color: #F3F3F3;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

.inputs_form:focus{
    outline: none;
}

.inputs_form_senha{
    width: 70%;
    height: 49px;
	padding: 10px;
	border: none;
	margin-bottom: 12px;
	border-radius: 12px 0 0 12px;
    background-color: #F3F3F3;
    font-family: 'Ubuntu', sans-serif;
}

.inputs_form_senha:focus{
    outline:none
}

.olho_botao{
    width: 10%;
    height: 49px;
	padding: 10px;
	border: none;
	margin-bottom: 12px;
	border-radius: 0 12px 12px 0;
    background-color: #F3F3F3;
    color: #053C5E;
    cursor: pointer;
}


.posicionamento_btn{
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.btn{
    width: 31%;
    height: 60px;
	padding: 10px;
	border: none;
	margin-top: 23px;
	border-radius: 12px;
    background-color: #007BFF;
    color: white;
    font-size: 22px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn:active{
    transition: 0.15s;
    transform: scale(0.95);
}

@media screen and (max-width: 1536px) {

    .posicionamento_page{
        margin-top: 50px;
        height: 780px;
    }

    .img_1{
        width: 40%;
    }

    .logo_senai{
        width: 40%;
        margin-bottom: 40px;
    }

    .fundo_formulario{
        width: 600px;
        height: 515px;
    }

    .btn{
        margin-top: 13px;
    }
}

@media screen and (max-width: 1440px) {

    .posicionamento_page{
        margin-top: 45px;
        height: 780px;
    }

    .img_1{
        width: 40%;
    }

    .logo_senai{
        width: 40%;
        margin-bottom: 40px;
    }

    .fundo_formulario{
        width: 600px;
        height: 515px;
    }

}

@media screen and (max-width: 1366px) {

    .posicionamento_page{
        margin-top: 10px;
        width: 100%;
        height: 750px;
    }

    .img_1{
        width: 36%;
    }

    .logo_senai{
        width: 40%;
        height: 68px;
        margin-bottom: 35px;
    }

    .fundo_formulario{
        width: 560px;
        height: 475px;
    }

    .titulo_form{
        font-size: 50px;
        margin-top: 40px;
    }

    .btn{
        width: 25%;
        height: 55px;
        padding: 10px;
        margin-top: 10px;
        font-size: 20px;
    }
}

@media screen and (max-width: 1280px) {

    .posicionamento_page{
        margin-top: 0;
        width: 100%;
        height: 720px;
    }

    .img_1{
        width: 36%;
    }

    .logo_senai{
        width: 40%;
        margin-bottom: 40px;
    }

    .fundo_formulario{
        width: 550px;
        height: 420px;
    }

    .titulo_form{
        font-size: 40px;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    
    #input_um{
        margin-top: 15px;
    }
    
    #input_dois{
        margin-top: 15px;
    }
    
    .input_login{
        margin-left: 55px;
        margin-bottom: 27px;
    }
    
    .inputs_form{
        height: 38px;
        padding: 10px;
        margin-bottom: 12px;
    }
    
    .inputs_form_senha{
        height: 38px;
        padding: 10px;
        margin-bottom: 12px;
    }

    .olho_botao{
        height: 38px;
        padding: 10px;
        margin-bottom: 12px;
    }

    .btn{
        width: 25%;
        height: 55px;
        padding: 10px;
        margin-top: 0;
        font-size: 20px;
    }
}