@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@600&family=Ubuntu:wght@300;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
    /* background-color: aqua; */
}

body{
    background-color: #EFEEE0;
}

.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabecalho{
    width: 100%;
    height: 65px;
    background-color: #2A2828;
    display: flex;
    flex-direction: row;
}

.itens_cabecalho{
    /* background-color: blueviolet; */
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_senai{
    width: 100px;
    height: 27px;
}

.posicionamento_btn_voltar{
    width: 65px;
    height: 65px;
    /* background-color: palevioletred; */
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn_voltar{
    /* background-color: aqua; */
    width: 40px;
    height: 40px;
    color: white;
    font-size: 25px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn_sair{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.btn_sair:focus{
    outline: none;
}

.rodape{
    background-color: #2A2828;
    width: 100%;
    height: 61px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
}

/* modal */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  /* Modal Content/Box */
  #popUp{
    display: none;
  }

  .conteudo_modal {
    background-color: #ED4343;
    width: 27%;
    height: 160px;
    border-radius: 15px;
    /* margin-top: 210px; */
    /* margin-left: 700px; */
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.6s;
    animation-name: animatetop;
    animation-duration: 0.6s
  }

  .conteudo_modal > p{
    color: #EFEEE0;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 30px;
    padding-top: 25px;
  }

  .posicionamento_btns{
    /* background-color: aqua; */
    width: 97%;
    height: 105px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .btns_modal{
      width: 28%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      /* background-color: aqua; */
  }

  .btn_modal_f{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #EFEEE0;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    border: none;
  }

  .btn_modal_ok{
    padding: 3px 13px 3px 12px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #FF0000;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    border: solid 1px #EFEEE0;
    background-color: #EFEEE0;
  }

  /* animação modal */
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0px; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0px; opacity:1}
  }

  @media screen and (max-width: 1536px) {
    .itens_cabecalho{
      width: 80%;
      height: 60px;
  }

  .conteudo_modal {
    width: 33%;
    height: 160px;
  }
}

@media screen and (max-width: 1440px) {
  .conteudo_modal {
    width: 35%;
    height: 160px;
    }
  }

@media screen and (max-width: 1366px) {
  .conteudo_modal {
    width: 37.5%;
    height: 155px;
  }
}

@media screen and (max-width: 1280px) {
    .conteudo_modal {
      width: 38.5%;
      height: 140px;
    }

    .posicionamento_btns{
      width: 97%;
      height: 90px;
    }
  }

  